/* HEADER STYLE */


header {
    width:100%;
    background-color:darkblue;
}



.headerbigbox {
    display : flex;
    flex-direction: row;  
}

.headerleftbox {
    position: absolute;
    left: 10px;
}

.headerrightbox {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-around;
    right:5%;
    padding-top:1.5%;
    
}

.lienspages {
    margin-bottom: 20%;
}

.headerliens {
    text-decoration: none;
    color: rgba(70, 227, 190, 1);
    font-size: 130%;
}


.logoprojet {
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -ms-transition: all 1s ease; 
    -o-transition: all 1s ease; 
    transition: all 1s ease;
    position: relative;
    left:15%;
    max-height:80%;
    width:auto;
    height:80%;
    padding-top:5%;

}

.logoprojet:hover {
    -webkit-transform:scale(1.3); 
    -moz-transform:scale(1.3);
    -ms-transform:scale(1.3); 
    -o-transform:scale(1.3); 
    transform:scale(1.3);

}

/* BODY CSS EN +*/

body {
    background-image: url(../assets/mainback.jpg);
    background-size:cover;
    margin: 0;
    
}
    



