/* HEADER STYLE */


header {
    width:100%;
    background-color:darkblue;
}

.headerbigbox {
    display : flex;
    flex-direction: row;  
}

.headerleftbox {
    position: absolute;
    left: 10px;
}

.headerrightbox {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-around;
    right:5%;
    margin-top:2%;
    
}

.lienspages {
    margin-bottom: 20%;
}

.headerliens {
    text-decoration: none;
    color:orange;
    font-size: 130%;
}


.logoprojet {
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -ms-transition: all 1s ease; 
    -o-transition: all 1s ease; 
    transition: all 1s ease;
    position: relative;
    left:10%;

}

.logoprojet:hover {
    -webkit-transform:scale(1.3); 
    -moz-transform:scale(1.3);
    -ms-transform:scale(1.3); 
    -o-transform:scale(1.3); 
    transform:scale(1.3);

}

/* BODY CSS EN +*/

body {
    background-image: url(../assets/mainback.jpg);
    background-size:cover;
    margin: 0;
    
}
    

a {
    color: rgba(70, 227, 190, 1);


}


